#section_5 {
    background-color: #101010;
    /* min-height: 100vh; */
}

.message-heading, .social-heading {
    color: #CCFB69;
    font-size: 3.5em;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px .05em 0 #353535, 0px .07em 5px #75FBD2;
}

.social-icons a {
    color: #CCFB69;;
    font-size: 2.5em;
    transition: 0.2s;
}

.social-icons a:hover {
    color: rgb(151, 186, 76) 
}

.contact-form-submit {
    background-color: #CCFB69 !important;
    color: #14264D !important;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.3em !important;
}

.contact-form-submit:hover {
    background-color: rgb(151, 186, 76) !important;
}

label {
    font-family: 'Open Sans', sans-serif;
}