#section_4 {
    position: relative;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.resume-heading {
    color: #CCFB69;
}

.resume-icon {
    width: 50px;
    height: auto;
}

#resume-link {
    /* background: #14264D; */
    /* color: #75FBD2; */
    color: #14264D !important;
    background-color: #CCFB69 !important;
    transition: all .25s;
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.7em;
}

#resume-link:hover {
    text-decoration: none;
    /* background: #CCFB69; */
    background-color: rgb(151, 186, 76) !important;
    color: #14264D;
}